# SPDX-License-Identifier: Apache-2.0
# Copyright 2024 Intel Corporation
on:
  schedule:
    - cron: "0 0 * * *"

permissions:
  issues: write
  pull-requests: write
  contents: read

jobs:
  stale:
    permissions:
      issues: write
      pull-requests: write
      contents: read
      actions: read
    uses: omec-project/.github/.github/workflows/stale-issue.yml@53d4a413210952112117fc4c6e2cf384f09188af # v0.0.2
    with:
      days_before_stale: 120
      days_before_close: 15
    secrets: inherit
